body, .navbar-default {
    background-attachment: fixed;
    background-color: #850116;
    background-image: linear-gradient(30deg, #D20222 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #D20222 87.5%, #D20222),
        			  linear-gradient(150deg, #D20222 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #D20222 87.5%, #D20222), 
        			  linear-gradient(30deg, #D20222 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #D20222 87.5%, #D20222), 
        			  linear-gradient(150deg, #D20222 12%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 87%, #D20222 87.5%, #D20222), 
        			  linear-gradient(60deg, #C50220 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, #C50220 75%, #C50220), 
        			  linear-gradient(60deg, #C50220 25%, rgba(0, 0, 0, 0) 25.5%, rgba(0, 0, 0, 0) 75%, #C50220 75%, #C50220);
    background-position: 0 0px, 0 0px, 40px 70px, 40px 70px, 0 0px, 40px 70px;
    background-size: 80px 140px;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}
.navbar {
	margin: 20px auto;
	max-width: 1000px;
}
.container {
	padding-bottom: 10px;
    padding-top: 25px;
}
.collapse {
    max-width: 1170px;
}
.top-link {
    margin-top: 20px;
}
.top-link a {
    color: #00FF00;
    font-size: 16px;
    font-weight: bold;
}
.top-link a:hover {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
@media (min-width:320px) and (max-width:480px) {
	.navbar {
		margin-top:10px;
	}
	.navbar-brand {
	    margin-left: 0px;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.type-home {
		margin: 0px auto;
	}
	.type-chat-list {
		margin: 0px auto;
	}
	.type-chat-list div:first-child {
		margin-left: 10px;
		margin-right: 10px;
	}
	.type-chat-list h1 {
		font-size: 23px;
		font-weight: bold;
	}
	#chatRoomName {
		width: 100%;
	}
	.newChat {
		margin-top: 20px;
	}
	.rooms {
		margin: 0px 10px;
	}
	.room-button {
		width: 70%;
	}
	.type-interior {
		margin: 0px auto;
	}
	.ui-block a {
		float: left;
		margin-right:3px;
	}
	#popup_box {
		height: 245px;
	    padding: 15px;
	    position: fixed;
	    top: 188px;
	    width: 290px;
	}
	#popup_box label {
	    font-size: 15px;
	}
	#popup_box h1 {	    
	    font-size: 30px;
	    margin-bottom: 60px;
	    margin-left: 10px;
	    margin-top: 5px;
	}
	.content-area {
		max-width: 300px;
	}
	figure.right {
	    margin-right: -21px;
	}
}
@media (min-width: 480px) and (max-width: 640px) {
	#popup_box {
		height: 200px;
	    padding: 15px;
	    position: fixed;
	    top: 188px;
	    width: 450px;
	}
	#popup_box label {
	    font-size: 18px;
	}
	#popup_box h1 {	    
	    font-size: 25px;
	    margin-bottom: 40px;
	    margin-left: 5px;
	    margin-top: 5px;
	}
	.content-area {
		max-width: 460px;
	}
}
@media (min-width: 640px) and (max-width: 980px) {
	.navbar-brand {
	    margin-left: 20%;
	}
	.top-link {
	    padding-right: 10%;
	}
	.type-home {
		margin-left: 14%;
	}
	.type-chat-list div:first-child {
		margin: 10px auto;
		width: 60%;
	}
	.type-chat-list h1 {
		font-size: 32px;
	}
	.newChat {
		float: right;
    	margin-right: 25px;
	}
	.rooms {
		margin: 0px auto;
	}
	.room-button {
		width: 88%;
	}
	#popup_box {
		height: 250px;
	    padding: 15px;
	    position: fixed;
	    top: 188px;
	    width: 700px;
	}
	#popup_box label {
	    font-size: 25px;
	}
	#popup_box h1 {	    
	    font-size: 40px;
	    margin-bottom: 60px;
	    margin-left: 20px;
	    margin-top: 25px;
	}
	.content-area {
		max-width: 620px;
	}
}
@media (min-width: 980px) and (max-width: 1024px) {
	.content-area {
		max-width: 960px;
	}
}
@media (min-width: 1024px) and (max-width: 1440px) {
	.collapse {
	    max-width: 1000px;
	}
	.type-home {
		margin-left: 24%;
		margin-top: 20px;
	}
	.type-chat-list {
		max-width: 800px;
		margin: 0 auto;
	}
	.type-chat-list div:first-child {
		margin: 10px auto;
		width: 60%;
	}
	.type-chat-list h1 {
		font-size: 32px;
	}
	.newChat {
		float: right;
    	margin-right: 70px;
	}
	.rooms {
		margin: 0px auto;
	}
	.room-button {
		width: 88%;
	}
	#popup_box {
		height: 250px;
	    padding: 15px;
	    position: fixed;
	    top: 188px;
	    width: 700px;
	}
	#popup_box label {
	    font-size: 25px;
	}
	#popup_box h1 {	    
	    font-size: 40px;
	    margin-bottom: 40px;
	    margin-left: 20px;
	    margin-top: 20px;
	}
	.content-area {
		max-width: 1000px;
	}
} 
.type-home {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 25px #666666;
    max-width: 500px;
    height: 120px;
    padding-top: 20px;
}
.type-chat-list {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 25px #666666;
    display: none;
}
.type-chat-list div:first-child {
    border: 1px solid #0A3C59;
    margin-top: 20px;
    padding: 10px 20px;
}
.type-chat-list h1 {
    color: #0000FF;
    font-family: Verdana;
}
.type-chat-list input[type=text] {
    height: 30px;
}
.rooms {
    border-bottom: 3px double #0A3C59;
    max-width: 400px;
}
.type-interior {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 25px #666666;
    display: none;
}
#chatList {
	padding: 10px;
}
#chatList li {
    height: 40px;
    list-style: none;
}
#userList li {
	list-style: none;
	color: #FF0000;
}
#popup_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FF0000;
    box-shadow: 0 0 5px #FF0000;
    display: none;
    z-index: 100;
}
#popup_box label {
    color: #0000FF;
    margin: 10px auto;
}
#popup_box h1 {
    color: #FF0000;
}
#popup_box a {
    float: right;
    margin-right: 40px;
}
.content-primary {
	padding: 10px;
}
.content-primary h1 {
	border-bottom: 3px double #0A3C59;
	color: #0000FF;
}
.content-primary textarea {
	height: 100%;
	width: 100%; 
}
.ui-grid {
	margin-top: 20px;
}
.content-secondary {
	padding-right: 20px;
	font-weight: bold;
	font-size: 20px;
}
.button, .button:focus {
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 7.5px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #0000ff;
    font-size: 15px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #00ff00;
    text-decoration: none;
}
.button:active {
    text-shadow: #1e4158 0 1px 0;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #ff0000;
    text-decoration: none;
}
.room-button {
    background: -moz-linear-gradient(center top , #FFFFFF, #64DFDF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #000000;
    display: block;
    float: left;
    font-family: helvetica, serif;
    font-size: 15px;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #7EA4BD;
    vertical-align: middle;
}
.room-button:hover {
    text-shadow: #1e4158 0 1px 0;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#64dfdf), to(#ffffff));
    background: -webkit-linear-gradient(top, #64dfdf, #ffffff);
    background: -moz-linear-gradient(top, #64dfdf, #ffffff);
    background: -ms-linear-gradient(top, #64dfdf, #ffffff);
    background: -o-linear-gradient(top, #64dfdf, #ffffff);
    background-image: -ms-linear-gradient(top, #64dfdf 0%, #ffffff 100%);
    color: #f00;
}
.room-button:active {
    text-shadow: #1e4158 0 1px 0;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    color: #000000;
}
.delete {
    float: right;
    color: #FF0000;
}
.delete:active {
    color: #000;
}
.content-area {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 25px #666666;
    margin: 0 auto;
    padding-bottom: 0;
}
.span3 {
	float: left;
}
code {
	color: #333333;
	width: 100%;
}
.highlight .c {
    color: #999988;
    font-style: italic;
}
.highlight .nt {
    color: #000080;
}
.highlight .na {
    color: #008080;
}
.highlight .s, .highlight .s1, .highlight .s2 {
    color: #DD1144;
}
.highlight .c1 {
    color: #999988;
    font-style: italic;
}
.highlight .o, .highlight .k, .highlight .kd {
    font-weight: bold;
}
.highlight .mi {
    color: #009999;
}